[Unit]
Description=SNMP Exporter
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/snmp_exporter --config.file='/home/snmp_exporter/snmp.yml'

[Install]
WantedBy=multi-user.target